.gallery {
    padding-top: 60px;
    background-color: $background-color;

    @media screen and (min-width: 736px) {
        padding-top: 100px;
    }

    &__title {
        color: $accent-color;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 24px;

        @media screen and (min-width: 1176px) {
            margin-bottom: 20px;
        }
    }

    &__position {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__group {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin-bottom: 4px;

        @media screen and (min-width: 736px) {
            gap: 18px;
            margin-bottom: 8px;
        }

        @media screen and (min-width: 1176px) {
            gap: 32px;
            margin-bottom: 14px;
        }
    }

    &__item, &__itemcenter {
        opacity: 0.7;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: scale(0.9);
        cursor: pointer;

        &.active {
            opacity: 1;
            transform: scale(1.1);
            z-index: 2;
        }
    }

    &__item {
        width: 77px;
        height: 130px;

        @media screen and (min-width: 736px) {
            width: 152px;
            height: 232px;
        }

        @media screen and (min-width: 1176px) {
            width: 196px;
            height: 346px;
        }
    }

    &__itemcenter {
        width: 159px;
        height: 174px;

        @media screen and (min-width: 736px) {
            width: 364px;
            height: 395px;
        }

        @media screen and (min-width: 1176px) {
            width: 556px;
            height: 589px;
        }
    }

    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @media screen and (min-width: 736px) {
            gap: 18px;
        }

        @media screen and (min-width: 1176px) {
            gap: 32px;
        }
    }

    &__svg {
        cursor: pointer;
        opacity: 0.7;
        display: block;
        transition: opacity 0.3s;
        width: 30px;
        height: 32px;

        @media screen and (min-width: 736px) {
            opacity: 1;
        }

        &:hover {
            fill: $accent-color;
            opacity: 1;
        }
    }

    &__navigation {
        width: 48px;
        height: 8px;
        fill: $navigation-color;

        @media screen and (min-width: 736px) {
            width: 64px;
            height: 11px;
        }
    }
}