* {
    margin: 0;
}

.header {
    width: 100%;
    background: var(--header, linear-gradient(269deg, #2D2A22 20.66%, #7E6D53 85.22%));
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.header__div {
    display: flex;
    align-items: center;
    position: relative;
}

.header__list {
    display: flex;

    @media screen and (max-width: 702px) {
        display: none !important;
    }

    @media screen and (min-width: 703px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-left: 80px;
        margin-right: 0;
    }

    @media screen and (min-width: 1144px) {
        gap: 48px;
        margin-left: 145px;
        margin-right: 144px;
    }
}

.header__title {
    color: #FCFCFB;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
}

.header__link {
    color: var(--button-background, #FCFCFB);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.header__btn {
    display: none;

    @media screen and (min-width: 1144px) {
        display: flex;
        height: 40px;
        padding: 4px 29px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #FCFCFB;
        background: #2E2B23;
        color: #FCFCFB;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

.header__button {
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header__menu {
    width: 24px;
    height: 24px;
    fill: #FCFCFB;
    margin-left: 220px;

    @media screen and (min-width: 703px) {
        display: none;
    }
}

.phone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    gap: 24px;
    background: linear-gradient(337deg, #2D2A22 5.7%, #7E6D53 108.98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
}

.phone__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.phone__link {
    color: var(--button-background, #FCFCFB);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
}

.phone__svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    fill: #F5F5F5 !important;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.phone__svg {
    fill: black;
}