* {
    margin: 0;
}

.header {
    width: 100%;
    background: var(--header, linear-gradient(269deg, #2D2A22 20.66%, #7E6D53 85.22%));
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.header__div {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;

    @media screen and (max-width: 702px) {
        display: none !important;
    }

    @media screen and (min-width: 703px){
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        margin-left: 80px;
        margin-right: 0;
    }

    @media screen and (min-width: 1144px){
        gap: 48px;
        margin-left: 145px;
        margin-right: 144px;
    }
}

.header__title {
    color: #FCFCFB;
    // display: flex;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 702px) {
        margin-right: auto;
    }
}

.header__link {
    color: var(--button-background, #FCFCFB);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.header__btn {
    display: none;

    @media screen and (min-width: 1144px) {
        display: flex;
        height: 40px;
        padding: 4px 29px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid #FCFCFB;
        background: #2E2B23;
        color: #FCFCFB;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

.header__menu{
        width: 24px;
        height: 24px;
        fill: #FCFCFB;
    
        @media screen and (min-width: 703px) {
            display: none;
        }
}