<section id="apartament" class="apartament">
  <div class="container">
    <h1 class="apartament__title">Choose your apartment</h1>

    <ul class="apartament__list">

      <li class="apartament__item">
        <img class="apartament__img" src="./img/apartament.png" alt="apartament">
        <p class="apartament__text">Type 1</p>
        <p class="apartament__subtitle">Total area 23 meters</p>

      </li>

      <li class="apartament__item">

        <img class="apartament__img" src="./img/type.png" alt="type">
        <p class="apartament__text">Type 2</p>
        <p class="apartament__subtitle">Total area 27 meters</p>
      </li>

      <li class="apartament__item">

        <img class="apartament__img" src="./img/area.png" alt="area">
        <p class="apartament__text">Type 3</p>
        <p class="apartament__subtitle">Total area 31 meters</p>

      </li>
    </ul>
    <div class="apartament__container">
      <button class="apartament__btn" type="button" id="download-btn">Download catalog</button>
    </div>
  </div>
</section>

<script>

    document.getElementById("download-btn").addEventListener("click", function()  {
        const images = document.querySelectorAll(".apartament__img");
        images.forEach((image, index) => {
            const link = document.createElement("a");
            link.href = image.src;
            link.download = `image-${index + 1}.png`;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
    });

</script>