<section class="apartament">
  <div class="container">
    <h1 class="apartament__title">Choose your apartment</h1>
    
    <div class="apartament__list">
      <div class="apartament__item">
        <img class="apartament__img" src="./img/apartament.png" alt="apartament">
        <p class="apartament__text">Type 1</p>
        <h2 class="apartament__subtitle">Total area 23 meters</h2>
      </div>

      <div class="apartament__item">
        <img class="apartament__img" src="./img/type.png" alt="type">
        <p class="apartament__text">Type 2</p>
        <h2 class="apartament__subtitle">Total area 27 meters</h2>
      </div>

      <div class="apartament__item">
        <img class="apartament__img" src="./img/area.png" alt="area">
        <p class="apartament__text">Type 3</p>
        <h2 class="apartament__subtitle">Total area 31 meters</h2>
      </div>
    </div>
    <div class="apartament__container">
    <button class="apartament__btn " type="button">Download catalog</button>
    </div>
  </div>
</section>
