<section class="company">
    <div class="company__back">
    <div class="container">
        <div class="company__group">
        <ul class="company__svglist">
            <li class="company__item">
                <svg class="company__iconsvg">
                    <use href="./img/symbol-defs.svg#suitcase"></use>
                </svg>
                <p class="company__text">15 years of experience</p>
            </li>
            <li class="company__item">
                <svg class="company__iconsvg">
                    <use href="./img/symbol-defs.svg#up"></use>
                </svg>
                <p class="company__text">30 thousand happy residents</p>
            </li>
            <li class="company__item">
                <svg class="company__iconsvg">
                    <use href="./img/symbol-defs.svg#home"></use>
                </svg>
                <p class="company__text">22 houses built</p>
            </li>
            <li class="company__item">
                <svg class="company__iconsvg">
                    <use href="./img/symbol-defs.svg#top-one"></use>
                </svg>
                <p class="company__text">9 awards</p>
            </li>
        </ul>
        <div class="company__minigroup">
        <h3 class="company__title">Philosophy of our company</h3>
        <p class="company__discript">Residential complex “Nice view” is an island of tranquility, security and comfort. <br>
            In our project, we created the opportunity to lead a measured life in the very center of the city.</p>
        </div>
    </div>
    </div>
    </div>
</section>