<footer class="footer">
    <div class="container">
        <ul class="footer__nav">
            <li class="footer__item">
                <a class="footer__logo" href="">NICE VIEW</a>
            </li>
            <li class="footer__item">
                <h2 class="footer__title">Navigation</h2>
                <ul class="footer__roster">
                    <li class="footer__items"><a href="" class="footer__link">Home</a></li>
                    <li class="footer__items"><a href="" class="footer__link">About</a></li>
                    <li class="footer__items"><a href="" class="footer__link">Apartments</a></li>
                    <li class="footer__items"><a href="" class="footer__link">Infrastructure</a></li>
                    <li class="footer__items"><a href="" class="footer__link">Gallery</a></li>
                </ul>
            </li>
            <li class="footer__item">
                <h2 class="footer__title">Contacts</h2>
                <ul class="footer__roster">
                    <li class="footer__items"><a href="" class="footer__link">(406) 555-0120</a></li>
                    <li class="footer__items"><a href="" class="footer__link">ul. Chodkiewicza Karola 111, Chorzów </a></li>
                    <li class="footer__items"><a href="" class="footer__link">deanna.curtis@ <br class="footer__br"> example.com</a></li>
                </ul>
            </li>
            <li class="footer__item">
                <ul class="footer__rosters">
                    <li class="footer__items">
                        <svg class="footer__svg">
                            <use href="./img/symbol-defs.svg#youtube"></use>
                        </svg>
                    </li>
                    <li class="footer__items">
                        <svg class="footer__svg">
                            <use href="./img/symbol-defs.svg#instagram"></use>
                        </svg>
                    </li>
                    <li class="footer__items">
                        <svg class="footer__svg">
                            <use href="./img/symbol-defs.svg#twitter"></use>
                        </svg>
                    </li>
                    <li class="footer__items">
                        <svg class="footer__svg">
                            <use href="./img/symbol-defs.svg#facebook"></use>
                        </svg>
                    </li>
                </ul>
            </li>
        </ul>
        <p class="footer__address">By using this website, you agree to the <span class="footer__span">Terms of Service</span> and <span class="footer__span">Privacy Policy</span></p>
    </div>
</footer>