<footer class="footer">
    <div class="container">
        <a class="footer__logo" href="">NICE VIEW</a>
        <ul class="footer__nav">
            <li class="footer__item">
                <h2 class="footer__title">Navigation</h2>
                <ul class="footer__roster">
                    <li class="footer__items"><a href="" class="footer__link">Home</a></li>
                    <li class="footer__items"><a href="" class="footer__link">About</a></li>
                    <li class="footer__items"><a href="" class="footer__link">Apartments</a></li>
                    <li class="footer__items"><a href="" class="footer__link">Infrastructure</a></li>
                    <li class="footer__items"><a href="" class="footer__link">Gallery</a></li>
                </ul>
            </li>
            <li class="footer__item">
                <h2 class="footer__title">Contacts</h2>
                <ul class="footer__roster">
                    <li class="footer__items"><a href="" class="footer__link">(406) 555-0120</a></li>
                    <li class="footer__items"><a href="" class="footer__link">ul. Chodkiewicza Karola 111, Chorzów </a></li>
                    <li class="footer__items"><a href="" class="footer__link">deanna.curtis@example.com</a></li>
                </ul>
            </li>
            <li class="footer__item">
                <ul class="footer__roster">
                    <li class="footer__items">
                        <svg class="footer__svg">
                            <use class=""></use>
                        </svg>
                    </li>
                    <li class="footer__items">
                        <svg class="footer__svg">
                            <use class=""></use>
                        </svg>
                    </li>
                    <li class="footer__items">
                        <svg class="footer__svg">
                            <use class=""></use>
                        </svg>
                    </li>
                    <li class="footer__items">
                        <svg class="footer__svg">
                            <use class=""></use>
                        </svg>
                    </li>
                </ul>
            </li>
        </ul>
        <p class="footer__addres">By using this website, you agree to the <span>Terms of Service </span>and<span> Privacy Policy</span></p>
    </div>
</footer>