<section id="gallery" class="gallery">
    <div class="container">
        <h2 class="gallery__title">Gallery</h2>
        <div class="gallery__position">
            <div class="gallery__group">

                <svg class="gallery__svg left-arrow">
                    <use class="arrow" href="./img/symbol-defs.svg#left"></use>
                </svg>

                <ul class="gallery__list">
                    <li class="gallery__item active">
                        <picture>
                            <source
                                srcset="./img/desktop/gallery-left-desktop@1x.webp 1x, ./img/desktop/gallery-left-desktop@2x.webp 2x"
                                media="(min-width: 1176px)">
                            <source
                                srcset="./img/tablet/gallery-left-tablet@1x.webp 1x, ./img/tablet/gallery-left-tablet@2x.webp 2x"
                                media="(min-width: 736px)">
                            <source
                                srcset="./img/mobile/gallery-left-mobile@1x.webp 1x, ./img/mobile/gallery-left-mobile@2x.webp 2x"
                                media="(max-width: 735px)">
                            <img src="./img/build.webp" alt="firstbuild" class="gallery__foto">
                        </picture>
                    </li>
                    <li class="gallery__item gallery__itemcenter">
                        <picture>
                            <source
                                srcset="./img/desktop/gallery-center-desktop@1x.webp 1x, ./img/desktop/gallery-center-desktop@2x.webp 2x"
                                media="(min-width: 1176px)">
                            <source
                                srcset="./img/tablet/gallery-center-tablet@1x.webp 1x, ./img/tablet/gallery-center-tablet@2x.webp 2x"
                                media="(min-width: 736px)">
                            <source
                                srcset="./img/mobile/gallery-center-mobile@1x.webp 1x, ./img/mobile/gallery-center-mobile@2x.webp 2x"
                                media="(max-width: 735px)">
                            <img src="./img/buildbig.webp" alt="midellbuild" class="gallery__foto">
                        </picture>
                    </li>
                    <li class="gallery__item">
                        <picture>
                            <source
                                srcset="./img/desktop/gallery-right-desktop@1x.webp 1x, ./img/desktop/gallery-right-desktop@2x.webp 2x"
                                media="(min-width: 1176px)">
                            <source
                                srcset="./img/tablet/gallery-right-tablet@1x.webp 1x, ./img/tablet/gallery-right-tablet@2x.webp 2x"
                                media="(min-width: 736px)">
                            <source
                                srcset="./img/mobile/gallery-right-mobile@1x.webp 1x, ./img/mobile/gallery-right-mobile@2x.webp 2x"
                                media="(max-width: 735px)">
                            <img src="./img/buildtwo.webp" alt="lastbuild" class="gallery__foto">
                        </picture>
                    </li>
                </ul>


                <svg class="gallery__svg right-arrow">
                    <use class="arrow" href="./img/symbol-defs.svg#right"></use>
                </svg>
            </div>
        </div>
    </div>
</section>


<script src="../js/slider.js" defer></script>