<section class="gallery">
    <div class="container">
                <h2 class="gallery__title">Gallery</h2>
        <div class="gallery__position">
        <div class="gallery__group">
        <svg class="gallery__svg">
            <use class="arrow" href="./img/symbol-defs.svg#left"></use>
        </svg>
        <ul class="gallery__list">
            <li class="gallery__item"><img src="../img/build.webp" alt="firstbuild" class="gallery__foto"></li>
            <li class="gallery__itemcenter"><img src="../img/buildbig.webp" alt="midellbuild" class="gallery__foto"></li>
            <li class="gallery__item"><img src="../img/buildtwo.webp" alt="lastbuild" class="gallery__foto"></li>
        </ul>
        <svg class="gallery__svg">
            <use class="arrow" href="../img/symbol-defs.svg#right"></use>
        </svg>
    </div>
    <svg class="gallery__navigation">
        <use class="gallery__three" href="../img/symbol-defs.svg#three"></use>
    </svg>
</div>
    </div>
    
</section>
