<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../scss/section/_header.scss">
<header class="header">
    <div class="container header__div">
        <h2 class="header__title">NICE VIEW</h2>
        <ul class="header__list">
            <li class="header__item"><a href="#" class="header__link">Home</a></li>
            <li class="header__item"><a href="#" class="header__link">About</a></li>
            <li class="header__item"><a href="#" class="header__link">Apartments</a></li>
            <li class="header__item"><a href="#" class="header__link">Infrastructure</a></li>
            <li class="header__item"><a href="#" class="header__link">Gallery</a></li>
            <li class="header__item"><a href="#" class="header__link">Contacts</a></li>
        </ul>
        <button type="button" class="header__btn">Contact us</button>
        <button type="button" class="header__button" data-modal-header-open>
            <svg class="header__menu">
                <use href="../img/symbol-defs.svg#vector"></use>
            </svg>   
        </button>
        <div class="phone is-hidden container" data-header-modal>
            <ul class="phone__list">
                <li class="phone__item"><a href="#" class="phone__link">Home</a></li>
                <li class="phone__item"><a href="#" class="phone__link">About</a></li>
                <li class="phone__item"><a href="#" class="phone__link">Apartments</a></li>
                <li class="phone__item"><a href="#" class="phone__link">Infrastructure</a></li>
                <li class="phone__item"><a href="#" class="phone__link">Gallery</a></li>
                <li class="phone__item"><a href="#" class="phone__link">Contacts</a></li>
            </ul>
            <svg class="phone__svg">
                <use href="./img/symbol-defs.svg#cross" data-modal-header-close></use>
            </svg>
        </div>
    </div>
</header>