<header class="header">
    <h2 class="header__title">NICE VIEW</h2>
    <ul class="header__list">
        <li class="header__item"><a href="#" class="header__link">Home</a></li>
        <li class="header__item"><a href="#" class="header__link">About</a></li>
        <li class="header__item"><a href="#" class="header__link">Apartments</a></li>
        <li class="header__item"><a href="#" class="header__link">Infrastructure</a></li>
        <li class="header__item"><a href="#" class="header__link">Gallery</a></li>
        <li class="header__item"><a href="#" class="header__link">Contacts</a></li>
    </ul>
    <button type="button" class="header__btn">Contact us</button>
</header>