<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../scss/section/_hero.scss">
<section class="hero">   
    <div class="container hero__div">
      <h3 class="hero__title">Nice view</h3>
      <p class="hero__text">For your comfortable life with your family</p>
      <button type="button" class="hero-btn">Contact us</button>
      <img class="hero__imgg" src="../img/hero.webp" alt="road">
      <img class="hero__im" src="../img/pavan.png" alt="people">
      <img class="hero__i" src="../img/pava.png" alt="people">
    </div>
</section>