<section class="hero">   
    <div class="container hero__div">
      <h1 class="hero__title">Nice view</h1>
      <p class="hero__text">For your comfortable life with your family</p>
      <button type="button" class="hero-btn">Contact us</button>
    </div>
</section>

<!-- ------------------------------------------------ -->

  <!-- <div class="backdrop is-hidden" data-modal>
    <div class="modal">
      <h2 class="modal__title">Leave your contacts and we will contact you</h2>
      <form class="modal__form">
        <div class="modal__box">
          <label class="modal__label" for="name">Name
            <input type="text" class="modal__input" id="name" required pattern="^(\+?38)?0\d{9}$"
              placeholder="Yulia"/>
          </label>
        </div>
        <div class="modal__box">
          <label class="modal__label" for="tel">Telephone
            <input type="tel" class="modal__input" id="tel" required pattern="^(\+?38)?0\d{9}$"
              placeholder="+380" />
          </label>
        </div>
        <div class="modal__box">
          <label class="modal__label" for="post">Email
            <input type="email" class="modal__input" id="post" required pattern="^(\+?38)?0\d{9}$"
              placeholder="Contact@gmail.com"/>
          </label>
        </div>
        <button type="submit" class="modal__btn">Contact us</button>
        <button type="button" class="btn__close" data-modal-close>
          <svg class="form__close">
            <use href="./img/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>
</form>
</div>
</div> -->