<section class="infrastructure">
    <div class="container">
        <h2 class="infrastructure__logo">Infrastructure</h2>
        <ul class="infrastructure__list">
            <div class="infrastructure__span">
                <li class="infrastructure__item">
                    <div class="infrastructure__circle">
                        <p class="infrastructure__text">2 minutes walk</p>
                    </div>
                    <p class="infrastructure__texts">to the supermaket</p>
                </li>
                <li class="infrastructure__item">
                    <p class="infrastructure__texts">to the coffee shop</p>
                    <div class="infrastructure__circle">
                        <p class="infrastructure__text">4 minutes walk</p>
                    </div>
                </li>
                <li class="infrastructure__item">
                    <div class="infrastructure__circle">
                        <p class="infrastructure__text">7 minutes walk</p>
                    </div>
                    <p class="infrastructure__texts">to the nearest park</p>
                </li>
            </div>
        </ul>
    </div>
</section>