<section class="infrastructure">
    <div class="container">
        <h2 class="infrastructure__logo">Infrastructure</h2>
        <ul class="infrastructure__list">
            <li class="infrastructure__item">
                <a href="" class="infrastructure__link">
                    <p class="infrastructure__text">2 minutes walk</p>
                </a>
                <p class="infrastructure__texts">to the supermaket</p>
            </li>
            <li class="infrastructure__item">
                <p class="infrastructure__texts">to the coffee shop</p>
                <a href="" class="infrastructure__link">
                    <p class="infrastructure__text">4 minutes walk</p>
                </a>
            </li>
            <li class="infrastructure__item">
                <a href="" class="infrastructure__link">
                    <p class="infrastructure__text">7 minutes walk</p>
                </a>
                <p class="infrastructure__texts">to the  nearest park</p>
            </li>
        </ul>
    </div>
</section>