<link rel="stylesheet" href="../scss/main.scss">
<section class="phone">
    <ul class="phone__list">
        <li class="phone__item"><a href="" class="phone__link">Home</a></li>
        <li class="phone__item"><a href="" class="phone__link">About</a></li>
        <li class="phone__item"><a href="" class="phone__link">Apartments</a></li>
        <li class="phone__item"><a href="" class="phone__link">Infrastructure</a></li>
        <li class="phone__item"><a href="" class="phone__link">Gallery</a></li>
        <li class="phone__item"><a href="" class="phone__link">Contacts</a></li>
    </ul>
    <svg class="phone__svg">
        <use href="../img/symbol-defs.svg#"></use>
    </svg>
</section>